.App {
  text-align: center;
}

.pro-sidebar-inner{
  background-color: #3A7192 !important;
  color: #FFFFFF !important;
}

.pro-sidebar-header{
  
}

.pro-sidebar-footer{
  border-top-color: rgba(173, 173, 173, 0.6) !important;
}

.main-section{
  height: 84vh;
}

.sidebar-container{
  height:100%
}

.page-container{
  background-color: #393939;
}

@media only screen and (max-width:776px){
  .sidebar-container{
      height:0
  }
  .main-section{
    height: 100%
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
