.group-page-container{
    background-color: #393939;
}

.groups-container{
    
}

.group-member{
    background-color: #3A7192;
    color: whitesmoke;
    border-radius: 8px;
}

.groups-menu{
    background-color: #323232 !important;
}